* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background-color: rgba(255, 127, 80, 0.5);
    color: black;
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 50px;
}

h1 {
    padding: 20px;
}

main {
    margin-top: 30px;
    line-height: 40px;
}

.heroPage {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.portfolioSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description {
    max-width: 100%;
    width: 400px;
    line-height: normal;
    margin: auto 0;
    text-align: left;
    aspect-ratio: 3/1;

}

img {
    max-width: 100%;
    width: 500px;
    aspect-ratio: 2/1;
    border-radius: 8px;
    margin-bottom: 20px;
}

.portfolioLink {
    display: flex;
    justify-content: center;

}

a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: blue;
}

.content {
    background-color: rgba(128, 128, 128, 0.25);
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
    display: flex;
    margin-top: 45px;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 3/1;
    border-radius: 8px;

}

button {
    padding: 10px 20px;
    margin: 0 auto;
    width: fit-content;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@media(min-width:500px) {
    .heroPage {
        display: flex;
        flex-direction: row;
        gap: 60px
    }
}